@import "../../styles/variables.scss";
.contact_us_page {
  .head {
    font-weight: 700;
    font-size: 17px;
    margin-bottom: 1.5rem;
  }
  .para {
    line-height: 27px;
  }
  .contact_form {
    width: 100%;
    .form_row {
      display: flex;
      flex-direction: column;
      margin: 1rem 0;
      label {
        display: inline-flex;
        font-size: 15px;
        font-weight: 500;
        line-height: 23px;
        text-transform: capitalize;
        margin-bottom: 0.65rem;
        span {
          color: var(--bs-red);
          padding-left: 0.5rem;
        }
      }
      input,
      textarea {
        border: 1px solid rgb(211, 211, 211);
        padding: 0.4rem 1rem;
        outline: none;
      }
      input {
        max-width: 400px;
      }
    }
    .submit_btn {
      font-size: 15px;
      font-weight: 600;
      text-transform: uppercase;
      background-color: #202020;
      color: $bg_color;
      padding: 0.85rem 2.5rem;
      border-radius: 5px;
      margin: 1rem 0;
      transition: all linear 0.3s;
      border: 1px solid;
      &:hover {
        color: #202020;
        background-color: $bg_color;
        border-color: $yellow_color;
      }
    }
  }
}
