@import "../../styles/variables.scss";
.product_card {
  position: relative;
  &:hover {
    .add_to_wishlist_btn {
      visibility: visible;
    }
  }
  .product_image {
    position: relative;
    .discount_value {
      z-index: 2;
      position: absolute;
      left: 10px;
      top: 10px;
      color: $bg_color;
      background-color: var(--bs-red);
      border-radius: 3px;
      padding: 0.25rem 0.75rem;
    }
  }
  .product_name {
    font-size: 17px;
    overflow: hidden;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    &:hover {
      color: var(--bs-blue);
      text-decoration: underline;
    }
  }
  .reviews_count {
    font-size: 13px;
    margin: 0 0.5rem;
    margin-bottom: -5px;
  }
  .old_price {
    color: $gray_color;
    text-decoration: line-through;
  }
  .product_price {
    font-size: 17px;
    font-weight: 700;
  }
  .discounted {
    color: var(--bs-red) !important;
  }
  .add_to_cart_btn {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: $bg_color;
    border: 1px solid $yellow_color;
    width: 100%;
    padding: 0.6rem 0;
    text-align: center;
    transition: all linear 0.3s !important;
    border-radius: 3px;
    &:hover {
      background-color: $yellow_color;
    }
  }
  .add_to_wishlist_btn {
    padding: 0.65rem;
    font-size: 22px;
    line-height: 16px;
    visibility: hidden;
    width: 75px;
    text-align: center;
  }
}
