@import "../../styles/variables.scss";
.user_sign_modal_wrapper {
  padding: 1rem;
  width: 360px !important;
  background-color: #fff !important;
  height: 100vh !important;
}
.modal_title {
  font-weight: 600;
  text-transform: capitalize;
}
.modal_close_btn {
  font-size: 2rem;
  padding: 0;
  margin: 0;
}
.cta_link {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0.75rem 0;
  border: 1px solid $yellow_color;
  transition: all linear 0.3s;
  &:hover {
    background-color: $yellow_color;
  }
}
.sign_in_form {
  label {
    font-weight: 600;
    text-transform: capitalize;
  }
  input {
    display: flex;
    width: 100%;
    outline: none;
    border: 1px solid rgb(196, 196, 196);
    padding: 0.75rem;
    border-radius: 3px;
    &::placeholder {
      text-transform: capitalize;
      color: $text_color;
    }
  }
}
.signup_btn {
  background-color: $yellow_color;
  &:hover {
    background-color: #fff;
  }
}
.recover_btn {
  color: var(--bs-blue) !important;
  &::after {
    background-color: var(--bs-blue);
  }
}

@media all and (max-width: 450px) {
  .user_sign_modal_wrapper {
    width: 300px !important;
  }
}
