@font-face {
  font-family: "jost";
  font-style: normal;
  font-weight: 100;
  src: url("/assets/fonts/jost/jost-100.ttf");
}

@font-face {
  font-family: "jost";
  font-style: normal;
  font-weight: 200;
  src: url("/assets/fonts/jost/jost-200.ttf");
}

@font-face {
  font-family: "jost";
  font-style: normal;
  font-weight: 300;
  src: url("/assets/fonts/jost/jost-300.ttf");
}

@font-face {
  font-family: "jost";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/jost/jost-400.ttf");
}

@font-face {
  font-family: "jost";
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/jost/jost-500.ttf");
}

@font-face {
  font-family: "jost";
  font-style: normal;
  font-weight: 600;
  src: url("/assets/fonts/jost/jost-600.ttf");
}

@font-face {
  font-family: "jost";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/jost/jost-700.ttf");
}
@font-face {
  font-family: "jost";
  font-style: normal;
  font-weight: 800;
  src: url("/assets/fonts/jost/jost-800.ttf");
}
@font-face {
  font-family: "jost";
  font-style: normal;
  font-weight: 900;
  src: url("/assets/fonts/jost/jost-900.ttf");
} ;
