@import "../styles/variables.scss";

body {
  font-family: $font_family;
  font-size: $font_size;
  font-weight: $font_weight;
  color: $text_color;
  background: $bg_color;
}
a {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: inherit;
  }
}
button {
  all: unset;
  cursor: pointer;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.underlined {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    transition: all linear 0.25s;
    left: 0;
    bottom: 1px;
    width: 0;
    height: 1px;
    background-color: $text_color;
  }
  &:hover {
    &::after {
      width: 100%;
    }
  }
}
.page_heading {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 3px;
  color: #202020;
  padding: 2rem 0;
  border-bottom: 1px solid rgb(236, 236, 236);
  text-transform: uppercase;
}
.sec_heading {
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  position: relative;
  &::after {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 50%;
    height: 0.2px;
    width: 100%;
    transform: translateY(-50%);
    background-color: $gray_color;
    opacity: 0.5;
    content: "";
  }
  span {
    line-height: 0;
    background-color: $bg_color;
    padding: 0 1.25rem;
    text-align: center;
  }
}
@media all and (min-width: 575px) {
  .container {
    max-width: 1440px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .sec_heading {
    font-size: 24px !important;
  }
  .page_heading {
    font-size: 50px !important;
  }
}
@media all and (min-width: 1199px) {
  .col_xl_2_4 {
    width: 20% !important;
  }
}
